[credential]

[core]
	excludesfile = ~/.gitignore_global
	editor = vim 
[user]
	name = Jeff French
	email = jeff.french@moonswitch.com
[diff]
	tool = diffmerge
[difftool "diffmerge"]
	cmd = /usr/bin/diffmerge \"$LOCAL\" \"$REMOTE\"
[merge]
	tool = diffmerge
[mergetool "diffmerge"]
	cmd = /usr/local/bin/diffmerge --merge --result=\"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"
	trustExitCode = true
[push]
	default = simple
[alias]
	last = log -1 HEAD
	s = status --short

[diff "sopsdiffer"]
	textconv = sops -d
